{% extends "front/base.html" %}
{% load static %}
{% load thumbnail %}

{% block page %}
	+1000 {{ query }} HD Wallpapers | MostWantedWallpapers.com
{% endblock %}

{% block meta %}
<meta content="" name="author">
<meta content="Millions {{query}} HD Wallpapers" name="description">
<meta content="" name="keywords">
<meta content="telephone=no" name="format-detection">
<meta name="robots" content="noodp, noydir">

<meta name="HandheldFriendly" content="true">
<meta content="IE=edge" http-equiv="X-UA-Compatible">


<meta property="og:title" content="+1000 {{ query }} HD Wallpapers | MostWantedWallpapers.com" />
<meta property="og:url" content="{{ request.get_full_path }}" />
<meta property="og:description" content="Millions {{query}} HD Awesome Wallpapers. " />
<meta property="twitter:description" content="Millions {{query}} HD Awesome Wallpapers. " />
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col">
		<div class="d-flex">
		  <div class="mr-auto"><h1>Search : {{ query }}</h1></div>

		</div>
	</div>
</div>

<div class="row">
	{% for wall in wallpapers %}
	    <div class="col-sm-3 mb-3">
	    	<div class="card text-center ">
	    		{% thumbnail wall.wallpaper "400x250" crop="center" as im %}
	    			<a href="{% url 'fr_wallpaper' wall.slugtags wall.id_wallpaper %}"><img class="card-img-top" src="{{ im.url }}" alt="Preview {% for ta in wall.tagsplit %}{{ta.tag.tag|title}}{% if not forloop.last %}, {% endif %}{% endfor %}"></a>
	    		{% endthumbnail %}
	    		<div class="card-body">
					<p class="card-text">{{ wall.wallpaper.width }}x{{ wall.wallpaper.height }}
						<br>
					{% for ta in wall.tagsplit %}
						<a href="{% url 'fr_tag' ta.tag.tag|slugify %}">{{ta.tag.tag|title}}</a>{% if not forloop.last %}, {% endif %}
	                {% endfor %}
					</p>
	    		</div>
	    	</div>
		</div>
	{% endfor %}
</div>
{% if wallpaper_tags.paginator.num_pages > 1 %}
<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		{% if wallpapers.number|add:-3 > 1 %}
            <li class="page-item">
            	<a class="page-link" href="{% url 'fr_search' %}?query={{ query }}&page=1">First</a>
            </li>
        {% endif %}
		{% if wallpapers.has_previous %}
            <li class="page-item">
				<a class="page-link" href="{% url 'fr_search' %}?query={{ query }}&page={{ wallpapers.previous_page_number }}" tabindex="-1">Previous</a>
			</li>
        {% endif %}
		{% for i in wallpapers.paginator.page_range %}
			{% if i <= wallpapers.number|add:3 and i >= wallpapers.number|add:-3 %}
				{% if wallpapers.number == i %}
		        	<li class="page-item active">
		            	<a class="page-link" href="#">{{ wallpapers.number }} of {{ wallpapers.paginator.num_pages }}<span class="sr-only">(current)</span></a>
		        	</li>
		        {% else %}
		        	<li class="page-item">
		            	<a class="page-link" href="{% url 'fr_search' %}?query={{ query }}&page={{ i }}">{{ i }}</a>
		        	</li>
		        {% endif %}
			{% endif %}
	        
        {% endfor %}
		{% if wallpapers.has_next %}
            <li class="page-item">
				<a class="page-link" href="{% url 'fr_search' %}?query={{ query }}&page={{ wallpapers.next_page_number }} ">Next</a>
			</li>
        {% endif %}
        {% if wallpapers.number|add:3 < wallpapers.paginator.num_pages %}
            <li class="page-item">
            	<a class="page-link" href="{% url 'fr_search' %}?query={{ query }}&page={{ wallpapers.paginator.num_pages }}">Last</a>
            </li>
        {% endif %}
	</ul>
</nav>
{% endif %}
{% endblock %}

{% block foot %}
{% endblock %}