


{% extends "front/base.html" %}
{% load static %}
{% load thumbnail %}

{% block page %}
	User
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="row">
	<div class="col">
		{% if messages %}
		  	{% for message in messages %}
		  <!-- <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
		  		<div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% endif %}" role="alert">
				  	{{ message }}
				</div>
		  	{% endfor %}
		{% endif %}
		<form enctype="multipart/form-data" method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			{% for field in form %}
				<div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label">{{ field.label }}</label>
					<div class="col-sm-10">
						{% if field.label == 'Avatar' %}
							{% if user.avatar %}
								<img class="img mb-3" height="150" src="{{ user.avatar.url }}">
							{% else %}
								<img class="img mb-3" height="150" src="{% static ''%}img/user-default.png">
							{% endif %}
							<br>
						{% endif %}
						{{ field }}

					</div>
				  {% if field.errors %}
					<div class="invalid-feedback d-block">
			          {{ field.errors.as_text }}
			        </div>
				  {% endif %}
				 <!--  <span class="glyphicon glyphicon-user form-control-feedback"></span> -->
				</div>
			{% endfor %}
			<button type="submit" class="btn btn-success btn-block">Save</button>
		</form>
	</div>
</div>
{% endblock %}

{% block foot %}
{% endblock %}